{% extends "layout.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>home_admin</title>
{% endblock %}
{% block nav_bar_list %}
    <div class="navbar-header">
        <a class="navbar-brand" href="/admin_home">Admin Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" >
            <li><a href="/admin_setup_labs_and_data_access">Setup Labs and Data Access </a></li>  
            <li><a href="/admin_select_lab_for_data">Review/Edit/Retrieve Data</a></li> 
            <li><a href="/admin_manage_users">Manage Users</a></li>
            <li><a href="/admin_log_out">Log Out</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
<div id="welcome_msg" class="col-md-12"> Welcome, administrator! </div>
{% endblock %}