<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" href="/static/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    
    {% block head %}
        <meta charset="UTF-8">
        <title>Lemur</title>
    {% endblock %}

    <style>
        #welcome_msg{
            font-size: 60px;
            text-align: center;
        }
        .invisible, .temporary_message {
            display: none;
        }
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg .tg-yw4l{vertical-align:top}
        #dLabel{color: grey;}
    </style>
    <script>
        function Generate_lab_id(lab_name,class_name,prof_name){
            return lab_name+'_'+class_name+'_'+prof_name;
        }
        function Generate_row_id(lab_id,row_name){
            return lab_id+':'+row_name;
        }
        function Generate_data_id(row_id,student_name){
            return row_id+':'+student_name;
        }
        // Check whether value is in array
        function isInArray(value, array) {
            return array.indexOf(value) > -1;
        }
        // Check whether n is a number 
        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        // Validate the input when the admin sets up a lab
        function Check_input(value_type,value_range,value_candidates){
            var wrong_input = false;
            var value_range_format = /([\d]+)-([\d]+)/;
            var value_candidates_format = /([\w]+)((,([\w]+))+)/;
            if (value_type!='Number' && value_type!='Text'){
                alert('value_type must be either Number or Text!');
                wrong_input = true;
            }
            if (value_range.length>0){
                if (value_range.search(value_range_format)==-1){
                    alert('value_range must be in the format 1-15');
                    wrong_input = true;
                }
                if (value_type!='Number'){
                    alert('value_range should only be filled when the value type is Number');
                    wrong_input = true;
                }
            }
            if (value_candidates.length>0){
                if (value_candidates.search(value_candidates_format)==-1){
                    alert('value_candidates must be in the format N,C');
                    wrong_input = true;
                }
                if (value_type!='Text'){
                    alert('value_candidates should only be filled when the value type is Text');
                    wrong_input = true;
                }
            }
            return wrong_input;
        }
        // Validate the input when the student enters data
        function Check_input_student(row_data,value_type,value_range,value_candidates){
            var wrong_input = false;
            var err_msg = '';
            value_candidates
            if (value_type=='Text' && value_candidates.length>0){
                value_candidates_arr = value_candidates.split(',');
                if (isInArray(row_data,value_candidates_arr)==false){
                    wrong_input = true;
                    err_msg = row_data+' is not in the value value candidates: '+value_candidates; 
                }        
            }
            else if (value_type=='Number' && value_range.length>0){
                value_range_arr = value_range.split('-');
                var min = value_range_arr[0];
                var max = value_range_arr[1];
                if (!isNumeric(row_data)){
                    wrong_input = true;
                    err_msg = row_data+' is not a number.';
                }
                else if (row_data<min || row_data>max){
                    wrong_input = true;
                    err_msg = row_data+' is not in the value value candidates: '+value_candidates;
                }
            }
            return {'wrong_input':wrong_input,'err_msg':err_msg};

        }
    </script>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div id="nav_bar_list">
        {% block nav_bar_list %}{% endblock %}
        </div>
    </div>
</nav>
<div id="content">{% block content %}
<div id="welcome_msg" class="col-md-12"> Welcome! </div>
{% endblock %}
</div>

<footer id="footer" class="col-md-12">
    <div class="container">
        <hr>
        <p class="text-center">Lemur is built using Python3, Flask, SQLAlchemy, PostgreSQL and Twitter Bootstrap</p>
    </div>
</footer>


</body>
</html>