{% extends "layout.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>400 Error</title>
{% endblock %}
{% block content %}
   <div class="table-wrapper">
        <h1>400 Error</h1>
        <p> {{err_msg}} </p>
        <h1>File Not Found</h1>
        {% if current_user.role_name=="SuperAdmin" %}
            <a href="/superadmin_home"><button>Back to Homepage</button></a>
        {% elif current_user.role_name=="Admin" %}
            <a href="/admin_home"><button>Back to Homepage</button></a>
        {% else %}
            <a href="/student_home"><button>Back to Homepage</button></a>
        {% endif %}
   </div>
{% endblock %}