{% extends "layout.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Login</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="/static/css/imgs/Lemur.jpg" />
            <form class="form-signin" method=post action="/login">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputName" class="form-control" placeholder="User name" name="username" required autofocus>
                <button name="user_form" type="submit" >Log in</button>

            </form><!-- /form -->
        </div> <!-- /card-container -->
    </div> <!-- /container -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{messages[0]}}
        {% endif %}
    {% endwith %}
{% endblock %}
