{% if current_user.is_authenticated and current_user.role_name=="SuperAdmin" %}
{% extends "superadmin_home.html" %}
{% elif current_user.is_authenticated and current_user.role_name=="Admin"%}
{% extends "admin_home.html" %}
{% else %}
{% extends "student_home.html" %}
{% block head %}
	<meta charset="UTF-8">
	<title>Student Enter Data</title>
	<script src="/static/js/student_data_entry.js"></script>
{% endblock %}

{% block content %}
    <div class="table-wrapper">
		{% if (experiments|length)==0 %}
			<div class="title"> This lab doesn't exist </div>
		{% else %}
		    <div class="title"> Lab Name: {{ lab_info[0].lab_name }} </div>
		    {% for lab in lab_info %}
		    	<div class="description"> Lab Description: {{ lab_info[0].lab_desc }}</div>
		    {% endfor %}
		    <form id={{lab_info[0].lab_id}}>
				<table class="table">
				    <thead>
						<tr name="title">
						    <th>Index</th>
						    <th>Question name</th>
						    <th>Question description</th>
						    <th>Value type</th>
						    <th>Value range/candidates</th>
						    <th>Data entry1</th>
						</tr>
					</thead>
					<tbody>
						<tr name="studentName">
						    <td >1</td>
						    <td>Student Name</td>
						    <td>Enter students' names in your group separated with &quot; , &quot; </td>
						    <td>Text</td>
						    <td>N/A</td>
						    <td><input class=studentName name=studentName required></input> </td>    
						</tr>
						{% for i in range((experiments|length)) %}
						<tr class="customizedExperiments" data-experimentname="{{experiments[i].experiment_name}}" data-valuetype="{{experiments[i].value_type}}" data-valuerange="{{experiments[i].value_range}}" data-valuecandidates="{{experiments[i].value_candidates}}">
						    <td >{{ loop.index+1 }}</td>
						    <td>{{ experiments[i].experiment_name }}</td>
						    <td>{{ experiments[i].description }}</td>
						    <td>{{ experiments[i].value_type }}</td>
						    {% if experiments[i].value_range|length==0 and experiments[i].value_candidates|length==0 %}
						    <td>N/A</td>
						    {% elif experiments[i].value_type=="Number" %}
						    <td>{{ experiments[i].value_range }}</td>
						    {% else %}
						    <td>{{ experiments[i].value_candidates }}</td>
						    {% endif %}
						    <td><input class="studentObservation" name="studentObservation"+i
						    required></button></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<button name="resetLab" type="reset">Reset</button>
			</form>
			<button name=submit data-toggle="modal" data-target="#errorChecking">Submit</button>
			<button name=newDataEntry>Add a new data entry</button>
			<a href="/student_enter_data"><button>Go back</button></a>
		{% endif %}
	</div>

<!-- Modal(checking and confirmation page) -->
<div class="modal fade" id="errorChecking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Error Checking Page</h4>
      </div>
      <div class="modal-body" id="errorMsgs">
        ...
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal">Go back</button>
        <button name="confirm">Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}