{% extends "superadmin_home.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>Superadmin Manage Users</title>
    <script src="/static/js/superadmin_create_and_manage_user.js"></script>
{% endblock %}

{% block content %}
	<div class="table-wrapper">
	    <div class="title"> Manage User </div>
		<label> Guide:</label><br><br>
		1.Create new users by filling in the fields, selecting the appropriate user role, and clicking “Submit”.<br><br> 
		2.Edit a user's role by selecting/deselecting their user role in the drop down in the user's row in the user list table. Click the “Save” button to save the change you made. <br><br> 
		3.Delete a user by clicking the delete button at the end of the user's row in the user list table.<br><br> 
		4. User Name must be a <b>unique</b> combination of number(s),letter(s) and dash(s) with length between 3 and 60 <br><br>
		5. Name is optional; It must be a combination of number(s),letter(s) and dash(s); its length cannot exceed 60<br><br>
		6. By clicking 'Reset ClassInfo from Iris', the database will be populated with classes and their associated professors. The professors by default will be given an Admin account. If the class already exists, its professors will be updated to the latest version on Iris.<br><br>
		7. By clicking 'Update UserInfo from Iris', the students of a class will be updated: students who dropped will be removed and students who newly registered for a class will be added. If the student didn't exist in the database, they will be created with the role 'Student' by default. If the class sent by iris doesn't exist in the current database, it will be ignored.<br><br>
		<div id="accordion">
		    <h3>Add a new user:</h3>
		    <div>
				<form method=post action="/superadmin_create_and_manage_user">
				    
				    <div>
						<label>User Name*: </label>
						<input type="text" name="username" pattern="{{pattern_for_name}}" title="{{pattern_for_name_hint}}" required>
					</div>
					<div>
						<label>Name: </label>
						<input type="text" name="name" pattern="{{pattern_for_name}}" title="{{pattern_for_name_hint}}">
					</div>
					<div>
					    <label>Role*: </label>
						<select class="selectpicker" name="role" id="roleSelector" data-style="btn-inverse" data-width="auto" name="role" title="Choose Role" required>
						    <option value="SuperAdmin">SuperAdmin</option>
							<option value="Admin">Admin</option>
							<option value="Student">Student</option>
						</select>
					</div>
					<div id="classSelector">
					    <label>Classes: </label>
						<select class="selectpicker" name="classIds" data-style="btn-inverse" data-width="auto"  multiple data-actions-box="true" data-live-search="true" title="Choose Classes">
						    {% for c in class_ids %}
							    <option value="{{c}}">{{c}}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<button name="submitNewAdmin" type="submit">Submit</button>
						<button name="resetNewAdmin" type="reset">Reset</button>
					</div>
				</form>
			</div>

		    <h3>Sync with Iris:</h3>
	        <div>
			    <div>
					<button name="resetClass" id="update classes">Reset ClassInfo from Iris</button>
				</div>
			    <div>
					<button name="updateUserInfo" id="update users">Update UserInfo from Iris</button>
					<select class="selectpicker" name="classIdsForUpdate" data-style="btn-inverse" data-width="auto"  multiple data-actions-box="true" data-live-search="true" title="Choose Classes to sync with">
					    {% for c in class_ids %}
						    <option value="{{c}}">{{c}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		    <h3>User List:</h3>
		    <div>
				{% if user_list|length==0 %}
					<p> No user exists </p> 
				{% else %}
					<form id="existingUsers">
						<table class="table sortable">
						    <thead>
						    	<tr>
							      <th>Index</th>
							      <th>Username/ID</th>
							      <th>Name</th>
							      <th>Role</th>
					              <th>Classes</th>
					              <th>Labs</th>
					              <th></th>
					              <th></th>
						    	</tr>
						    </thead>
						    <tbody>
						    	{% for u in user_list %}
							    	<tr id="{{u["username"]}}"">
							      		<td>{{loop.index}}</th>
							      		<td>{{u["username"]}}</td>
							      		<td>{{u["name"]}}</td>
							      		<td>
								      		<select class="selectpicker" id="roleSelector" data-style="btn-inverse" data-width="auto" name="role" title="Choose Role" required>
								      		    {% if u["role_name"] == "SuperAdmin" %}
												    <option value="SuperAdmin" selected>SuperAdmin</option>
													<option value="Admin">Admin</option>
													<option value="Student">Student</option>
												{% elif u["role_name"] == "Admin" %}
												    <option value="SuperAdmin">SuperAdmin</option>
													<option value="Admin" selected>Admin</option>
													<option value="Student">Student</option>
												{% else %}
												    <option value="SuperAdmin">SuperAdmin</option>
													<option value="Admin">Admin</option>
													<option value="Student" selected>Student</option>
												{% endif %}
											</select>
						               </td>
							      		<td>
								      		<select class="selectpicker" data-style="btn-inverse" data-width="auto" name="classIds" multiple data-actions-box="true" data-live-search="true" title="Choose Classes">
										    {% for c in class_ids %}    
											    {% if c in u["classes"] %}
												    <option value="{{c}}" selected>{{c}}</option>
												{% else %}
												    <option value="{{c}}">{{c}}</option>
												{% endif %}
											{% endfor %}
											</select>
							      		</td>
							      		<td>
								      		{% for l in u["labs"] %}
								      		    {{l}}<br>
								      		{% endfor %}
							      		</td>   
							      		<td><button name=save>Save</button></td>
									    <td><button name=delete>Delete</button></td>
							    	</tr>
						    	{% endfor %}    	
						    </tbody>
						</table>
					</form> 
				{% endif%}
			</div>
		</div>
	</div>

    <!-- Modal(Error Popup) -->
	<div class="modal fade" id="errorPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	        	<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel">An error occurs</h4>
	      	  	</div>
		      	<div class="modal-body" id="errorMsgs">
			    ...
		        </div>
		      	<div class="modal-footer">
		        	<button data-dismiss="modal">Go back</button>   
		        </div>
	        </div>
	    </div>
	</div>
{% endblock %}