{% extends "superadmin_home.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Superadmin Manage Classes</title>
    <script src="/static/js/superadmin_manage_classes.js"></script>
{% endblock %}

{% block content %}
<div class="table-wrapper">
	<div class="title"> <h2> Class Information </h2></div>
	<b>Guide:</b><br><br>
	1. Class Name must be a combination of number(s),letter(s) and dash(s), with length between 3 and 60 <br><br>
	2. Student names should be in the format: andrew,george(student names separeted by comma)<br><br>
	<b>Warning:</b><br><br>
	1.If you delete the a class, all the associated labs will be deleted as well<br><br>
	{% if current_classes|length==0 %}
	<h1> No class exists </h1> 
	{% else %}
	<form id="existingClasses">
		<table class="table sortable">
		    <thead>
		    	<tr>
			      <th>Index</th>
			      <th>Class ID</th>
			      <th>Class name</th>
			      <th>Time</th>
	              <th>Professor</th>
	              <th>Students</th>
	              <th>Labs</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	{% for class in current_classes %}
			    	<tr id={{class["id"]}}>
			    	    <td>{{loop.index}}</th>
			      		<td>{{class["id"]}}</td>
			      		<td>{{class["name"]}}</td>
			      		<td>{{class["time"]}}</td>
			      		<td>
						<select class="selectpicker" name="professor" required>
						    {% for p in professor_usernames %}
							    {% if p==class["professors"][0] %}
								    <option value="{{p}}" selected="selected">{{p}}</option>
								{% else %}
								    <option value="{{p}}">{{p}}</option>
								{% endif %}
							{% endfor %}
						</select>
			      		</td>
			      		<td>
			      		<textarea class="longInput" cols="30" rows="5" name="students" pattern="[-0-9a-zA-Z]((,[-0-9a-zA-Z])*)" title="student names should be in the format: andrew,george(student names separeted by comma)">{% for s in class["students"] %}{% if loop.index==(class["students"]|length)%}{{s}}{% else %}{{s}},{% endif %}{% endfor %}</textarea>
			      		</td>	

			      		<td>
			      		{% for l in class["labs"] %}
				      		{{l}}<br>
			      		{% endfor %}
			      		</td>		
			      		<td><button name=saveAll>Save</button></td>    
					    <td><button name=delete>Delete</button></td>
			    	</tr>
		    	{% endfor %}    	
		    </tbody>
		</table>
	</form>

	{% endif%}
	<form method=post action="/superadmin_manage_classes">
	    <h4><b>Add a new class:</b></h4>
	    <div>
			<label>Class Name*: </label>
			<input type="text" name="className" pattern="[a-zA-Z0-9\-]{3,60}" title="Class Name must be a combination of number(s),letter(s) and dash(s), with length between 3 and 60" required>
		</div>
		<div>
			<label>Class Time: </label>
			<input type="text" name="classTime" pattern="[0-9]{2,4}[a-zA-Z]{4,7}" title="Class Time is a combination of year and semester. e.g. 16fall" required>
		</div>
		<div>
			<label>Professor Name*: </label>
			<select class="selectpicker" name="professors" required>
			    {% for p in professor_usernames %}
				    {% if p==current_user.name %}
					    <option value="{{p}}" selected="selected">{{p}}</option>
					{% else %}
					    <option value="{{p}}">{{p}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Students: </label><br>
			<textarea class="longInput" cols="30" rows="5" name="students" pattern="[0-9a-zA-Z\-](,[0-9a-zA-Z\-])*" title="student names should be in the format: andrew,george(student names separeted by comma)"></textarea>
			<br><br>
		</div>

		<button name="submitNewAdmin" type="submit">Submit</button>
		<button name="resetNewAdmin" type="reset">Reset</button>
	</form>
</div>
{% endblock %}